.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
  font-size: 50px;
  text-align: center;
}
