@import "_variables";
@import "_mixins";

body {
  background: white;
  a {
    font-size: 100px;
    margin-bottom: 20px;
    &:nth-child(even) {
      @include addTitle(even);
    }
    &:nth-child(odd) {
      @include addTitle(odd);
    }
  }
}
