/* SCSS Tool */
@import "_mixins";
@import "_variables";
@import "reset";
/* SCSS File */
@import "header";
@import "main";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #e7473c;
  font-family: Univers, Helvetica Neue, Helvetica, Myriad Pro, Myriad, Geneva,
    Arial, sans-serif;
  font-size: 10px;
  line-height: 1;
  display: flex;
  justify-content: space-around;

  @include screenSize("narrow") {
    flex-direction: column;
  }
  @include screenSize("superNarrow") {
    flex-direction: column;
  }
}
